# -------------------------
# Python cache files
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual Environment
# -------------------------
venv/
env/
ENV/

# -------------------------
# Dataset (large files)
# -------------------------
dataset/
data/

# -------------------------
# Trained Models
# -------------------------
models/
*.h5
*.keras
*.pt
*.pth

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Jupyter Notebook checkpoints
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE settings
# -------------------------
.vscode/
.idea/

# -------------------------
# Temporary files
# -------------------------
*.tmp
*.swp