# -------------------------------
# Python / Backend
# -------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
model_env/
.venv/

# Python env config
pyvenv.cfg

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# -------------------------------
# ML / Models / Dataset
# -------------------------------
models/*.h5
models/*.pt
models/*.pkl
models/*.joblib

# Images / outputs
models/*.png
models/*.jpg

# Dataset (VERY IMPORTANT)
dataset/

# -------------------------------
# Node / Frontend
# -------------------------------
node_modules/
dist/
build/

# Vite
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------------------------------
# VS Code / IDE
# -------------------------------
.vscode/
.idea/

# -------------------------------
# Environment variables
# -------------------------------
.env
.env.*

# -------------------------------
# Misc
# -------------------------------
*.sqlite3
*.db